#############################################################
# Docker Compose Settings
#############################################################

# Necessary for Windows
COMPOSE_CONVERT_WINDOWS_PATHS=0

# Select which docker-compose files to include.
COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=user-auth-multi-backend

# Docker Build Context Dir (end by slash)
DOCKER_BUILD_CONTEXT_DIR=../

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

#=========================
NESTJS_APP_ROOT_DIR=../apps/frameworks/nestjs
NESTJS_APP_PORT=23401
